table,th,td
{
    border:1px solid black;
    text-align:center;
}

th {
    font-size: 20pt;
}
th {
    font-size: 14pt;
}
table.change, tr.change, td.change{
    border: none;
    text-align: center;
    width:100%;
}
table.time {
    width: 100%;
    border:none;
    height:100%;
}
tr:hover {
          background-color: #ffff99;
    }
.messDiv
{
    background: #F5F5F5; 
    padding: 5px; 
    border: solid 1px black; 
    position: absolute; 
    top: 0; 
    left: 0;
    visibility:hidden;
}